<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JYXDACircularProgressDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5656FB1F1BD225F60023857F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5656FB381BD225F70023857F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5656FB431BD225F70023857F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
